<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
    <form class="card" method="post" th:action="@{/signup}">
        <h1>회원가입</h1>
        <label for="username">아이디</label>
        <input id="username" name="username" type="text" required autofocus>
        <label for="password">비밀번호</label>
        <input id="password" name="password" type="password" required>
        <label for="passwordConfirm">비밀번호 확인</label>
        <input id="passwordConfirm" name="passwordConfirm" type="password" required>
        <button type="submit">펫 고르러가기</button>
        <a class="login-link" th:href="@{/login}">로그인으로 돌아가기</a>
    </form>
</body>
</html>
