<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>다마고치</title>
    <link rel="stylesheet" th:href="@{/css/tamagotchi.css}">
</head>
<body>
    <div class="room">
        <img class="room-bg" th:src="@{/images/room/{file}(file='tamagotchi_device.png')}" alt="다마고치 방">
        <div class="pet-area" th:if="${character}">
            <p class="pet-name" th:text="${petName}"></p>
            <img class="pet-img"
                 th:src="|/images/pet/${character}.png|"
                 th:alt="${petName}">
        </div>
    </div>
</body>
</html>
